__pycache__/
*.pyc
*.py[cod]
*$py.class
.vscode/
.venv/
venv/
venvgaze/
myvenv/
env/
ENV/
catboost_info/
*.csv
*.log
*.sqlite3
*.db
*.out
*.o
.DS_Store
Thumbs.db
.png
*.jpg
.mp4
.mpeg
.yaml
frames/
checkpoints/
*logs/
*saved_models/