# Requirements: venv - python 3.9.21
# if error w/ protobuf or mediapipe version, install sequentially

h5py==3.6.0
joblib==1.4.2
matplotlib==3.5.1
matplotlib-inline==0.1.3
mediapipe==0.10.15
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.5.3.56

pandas==2.2.3
pgi==0.0.11.2   # Recomendable Linux-Ubuntu. En caso de error, comentar esta línea
protobuf==3.20.3
PyYAML==5.4.1
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.13.1

tensorboard==2.17.1
tensorboard-data-server==0.7.2

#IMPORTANTE compatibilidad entre pytorch-lightning, torch y torchvision
albumentations==2.0.5
pytorch-lightning==1.4.9  
torch==2.5.1
torchmetrics==0.6.0
torchvision==0.20.1
tensorflow==2.17.0
xgboost==2.1.1
catboost==1.2.7
